.main {
    padding: 10px;
    background-color: black;
    width: 100%;
    height: 100%;
}

.icon {
    @include flex(center, center);
    font-size: 32px;
    color: white;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
    background: none;
}